
*.bbprojectsettings
*.DS_Store
brew-baby.bbprojectd/gfitzwat.bbprojectsettings

*.bbprojectsettings

brew-baby.bbprojectd/gfitzwat.bbprojectsettings

brew-baby.bbprojectd/project.bbprojectdata

brew-baby.bbprojectd/Scratchpad.txt

brew-baby.bbprojectd/project.bbprojectdata

brew-baby.bbprojectd/Unix Worksheet.worksheet

brew-baby.bbprojectd/gfitzwat.bbprojectsettings

*.zip

brew-baby.bbprojectd/gfitzwat.bbprojectsettings

brew-baby.bbprojectd/project.bbprojectdata

brew-baby.bbprojectd/Scratchpad.txt

brew-baby.bbprojectd/Unix Worksheet.worksheet

